---
import type { CollectionEntry } from 'astro:content'
import { getMonthName } from '$/utils'

interface Props {
    post: CollectionEntry<'blog'>,
    asCard?: boolean
}

const { post: { data: post, slug }, asCard = false } = Astro.props
---
<div class={`post-preview ${asCard && 'post-preview--card'}`}>
    <div class="post-preview__date-box">
        <span class="post-preview__date">{ `${new Date(post.date).getDate()} ${getMonthName(post.date)} ${new Date(post.date).getFullYear()}` }</span>
    </div>
    <div class="flex-1">
        <h4 class="post-preview__title dark:text-theme-dark-primary">
            <a href={`/blog/${slug}`} title={post.title}>{post.title}</a>
        </h4>
        <p class="post-preview__desc">
            {post.description}
        </p>
    </div>
</div>
<style>
    .post-preview {
        @apply flex gap-6 items-baseline;
    }
    .post-preview--card {
        @apply flex flex-col-reverse gap-4 sm:w-72 md:w-60 lg:w-64;
    }
    .post-preview__date-box {
        @apply sm:w-28 md:w-36 shrink-0;
    }
    .post-preview--card .post-preview__date-box {
        @apply w-full
    }
    .post-preview__date {
        @apply font-mono text-sm text-zinc-500 dark:text-zinc-500 whitespace-nowrap;
    }
    .post-preview__title {
        @apply text-xl font-semibold text-theme-primary dark:text-theme-dark-primary hover:underline mb-1;
    }
    .post-preview__desc {
        @apply text-base leading-6 line-clamp-2 text-zinc-700 dark:text-zinc-300 hyphens-auto;
    }
</style>
